# IntelliJ IDEA
.idea/
*.iml
out/
modules.xml
workspace.xml

# Maven
target/
.mvn/wrapper/maven-wrapper.properties

# Sistema
.DS_Store
Thumbs.db

# Windows Zone.Identifier
*:Zone.Identifier
*.Identifier

# Archivos temporales
*.log
*.tmp

# Otros
*.zip
*.jar
